<video autoplay muted loop id="myVideo">
	<source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4">
</video>

<div class="container">
	<div class="content">

		<form [formGroup]="signin" (submit)="onSubmit()" class="form_class">
			<h1>Login</h1>
			<mat-form-field >
				<mat-label style="color: white;">User name</mat-label>
				<!-- <input matInput placeholder="user name" formControlName="userName" required> -->
				<input matInput   formControlName="userName" required>
				<mat-error *ngIf="!passwordInput?.value">Enter your user name</mat-error>
			</mat-form-field>
			<mat-form-field >
				<mat-label style="color: white;">Password</mat-label>
				<input matInput  [type]="hide ? 'password' : 'text'" formControlName="password"
					required>
				<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				<mat-error *ngIf="!passwordInput?.value">Enter your password</mat-error>
			</mat-form-field>
			<button mat-raised-button color="primary" [disabled]="signin.invalid" type="submit">
				login
			</button>
		</form>


	</div>
</div>