<mat-toolbar class="mat-elevation-z6"> 
    <span><img src="https://res.cloudinary.com/dfmmh4qka/image/upload/v1653642634/download_ogpnra.png" class="imgSize"></span>
    <div class="spacer"></div>
        <button mat-button [matMenuTriggerFor]="belowMenu">Admin</button> 
        <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item  routerLink="login">Login</button>
        <!-- <button mat-menu-item routerLink="signUp">SignUp</button> -->
        </mat-menu>
</mat-toolbar>