<div class="station-container" >
    <div class="form-container">
      <form [formGroup]="stationForm" (ngSubmit)="onSubmit()">
        <label for="stationName">station Name</label>
        <br>
        <input type="text" name="stationName" id="stationName" formControlName="stationName"> 
        <br>
        <span style="color: red; font-size:10px;" *ngIf="stationName && stationName.invalid && stationName.touched">station name already registered</span><br>
        <br>
        <label for="stationDistrict">station District</label>
        <br>
        <!-- <input type="text" name="stationDistrict" id="stationDistrict" formControlName="stationDistrict">  -->
        <select formControlName="stationDistrict">
          <option value="Choose District" selected >Choose District</option>
          <option *ngFor="let district of districts">{{district}}</option>
        </select>
        <br>
        <span style="color: red; font-size:10px;" *ngIf="stationDistrict && stationDistrict.invalid && stationDistrict.touched">please select district name</span><br>
        <br>
        <br>
        <button type="submit" class="btn btn-secondary" >submit</button>
        <br>
        <br>
        <div *ngIf="data; else elseBlockShow" style="color: green; font-size:12px;">
          "Station registered succesfully"
        </div>
        <ng-template #elseBlockShow>
          <p style="color: red; font-size:12px;">{{errorMsg}}</p>
          
        </ng-template>
      </form>
    </div>
    </div>
  