station-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}
.table-cont{
    height: 90vh;
    margin-right: 20px;
    width: 50vw;
    
    
}
.main{
    background-image: linear-gradient(rgb(245, 118, 118),rgb(248, 225, 225)); 
    height: 100vh;
    background-size: cover;
}
.card-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.form-container{
    margin-top: 20px;
    background-color: rgb(241, 197, 197);
    border-radius: 6px;
    width: 20vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}