.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 30%;
  }
  .bg-container{
    background-image: linear-gradient(rgb(245, 118, 118),rgb(248, 225, 225)); 
    height: 100vh;
    background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-container{
   background-color: rgb(240, 240, 215);
   width: 25%;
   border-radius: 8px;
   
  }
  .card-container2{
    display: flex;
   flex-direction: column;
  }
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }