<div>
  <form class="form-control busStages" [formGroup]="busStageForm" (ngSubmit)="addBusStages()">
    <div>
      <label for="busNo">Bus No</label>
    <br>
    <input type="text" id="busNo" name="busNo" formControlName="busNo">
    </div>
    <div>
      <label for="stages">Total Stages</label>
    <br>
    <input type="number" id="stages" name="stages" formControlName="stages" min="1" max="10">
    </div>
    <button [disabled]="busStageForm.invalid" type="submit">submit</button>
    
  </form>
  
  <div class="error_container" *ngIf="successValue=='error'">
    <p class="error_para" style="color: red; font-size:24px;">{{errorValue}}</p>
  </div>
  <div *ngIf="successValue=='success'">
    <form  class="form-control form_row"  [formGroup]="addStationFrom"  (ngSubmit)="setStations(i)" *ngFor="let each of busArray let i=index">

  <div>
    <label for="stationName">Station Name</label>
    <br>
    <select formControlName="stationName" id="stationName"  (change)="findStationDistrict($event,i)">
      <option value="Choose station name" selected>Choose Station Name</option>
      <option *ngFor="let station of stationNames" value="{{station.stationName}}">{{station.stationName}}</option>
    </select>
    <br>
    <br>

   
  </div>
  <div>
    
      <br>
      <select formControlName="stationDistrict" id="{{'stationDistrict' + each.stationId}}">
        <option value="Choose District" selected>Choose District</option>
        <option *ngFor="let station of listOfLists[i] ">{{station}}</option>
        
        
          
        
        
      </select>

  </div>
  <!-- <div> -->
  <!-- <label for="arrivalDateTime">Arrival DateTime</label>
    <br>
    <input type="datetime-local" id="arrivalDateTime" name="arrivalDateTime" formControlName="arrivalDateTime">
  </div>
  <div>
    <label for="departureDateTime">Departure DateTime</label>
    <br>
    <input type="datetime-local" id="departureDateTime" name="departureDateTime" formControlName="departureDateTime">
  </div> -->
  <div>
  
  </div>
  <button type="submit" >
    submit
   </button>
 

  </form>
  <button type="submit" (click)="saveBusstations()" >
    submit123
   </button>
</div>
</div>